.navbar {
  background: #333973;
  color: #f8f6f2;
}

#brand-logo {
  width: 35px;
  height: 35px;
  transform: rotate(-25deg);
}

#brand-name {
  color: #fff;
  font-family: "Luckiest Guy", sans-serif;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3.5rem;
}

header {
  overflow-x: hidden;
}

#profile-widget {
  gap: 15px;
}

#profile-frame {
  border-radius: 45px;
  overflow: hidden;
}

#profile-pic {
  width: 45px;
  height: 45px;
}

@media screen and (max-width: 450px) {
  #username {
    display: none;
  }
}
