.navbar {
  background: #333973;
  color: #f8f6f2;
}

#brand-logo {
  width: 35px;
  height: 35px;
  transform: rotate(-25deg);
}

#brand-name {
  color: #fff;
  font-family: "Luckiest Guy", sans-serif;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3.5rem;
}

header {
  overflow-x: hidden;
}

#profile-widget {
  gap: 15px;
}

#profile-frame {
  border-radius: 45px;
  overflow: hidden;
}

#profile-pic {
  width: 45px;
  height: 45px;
}

@media screen and (max-width: 450px) {
  #username {
    display: none;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  background: #333973;
}

#notify-modal {
  top: 100px;
  max-height: 75%;
  border: 1px black;
}

@media screen and (max-height: 650px) {
  #notify-modal {
    max-height: 65%;
  }
}

@media screen and (max-height: 600px) {
  #notify-modal {
    max-height: 60%;
  }
}

@media screen and (max-height: 450px) {
  #notify-modal {
    max-height: 50%;
  }
}

#notifications {
  gap: 1rem;
}

.notify {
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  color: inherit;
}

.notify-pic {
  width: 80px !important;
}

.notify-text {
  padding: 6px 0px;
}

.profile-frame {
  border-radius: 45px;
  overflow: hidden;
}

.custom-button {
  background-color: #333973 !important;
  border-color: #333973 !important;
}
.notify-delete-btn {
  height: 50%;
}
